@model LibraryAspNetCore.Models.Library

<h2>Библиотека</h2>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Address)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Address)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Phone)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Phone)
    </dd>
</dl>
<div>
    <a asp-controller="Create" asp-action="DeleteLibrary" asp-route-id="@Model.Id"><div class="btn btn-danger">Удалить</div></a>
    <a asp-controller="Create" asp-action="EditLibrary" asp-route-id="@Model.Id"><div class="btn btn-default">Изменить</div></a>
    <a asp-controller="Library" asp-action="AddBookInLibrary" asp-route-id="@Model.Id"><div class="btn btn-success">Добавить книги</div></a><br>
    <a asp-action="Index">Back to List</a>
</div>