@model IEnumerable<LibraryAspNetCore.ViewModels.InfoBookViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<h3>Все книги</h3>
<table class="table">
    <tr>
        <td>Название</td>
        <td>Автор</td>
        <td>Жанр</td>
        <td>Имеется в наличии</td>
        <td></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Book.Name</td>
            <td>@item.Book.Author.Name</td>
            <td>@item.Book.Subject.Name</td>
            <td>
                <ul>
                    @foreach (var library in item.Libraries)
                    {
                        <li>@library.Library.Name</li>
                    }
                </ul>
            </td>
            <td><a asp-controller="Home" asp-action="Info" asp-route="@item.Book.Id"><div class="btn btn-default">Подробнее</div></a></td>
        </tr>
    }

</table>