@model IEnumerable<LibraryAspNetCore.Models.Book>
@using LibraryAspNetCore.Models
@using LibraryAspNetCore.ViewModels
@{
    ViewData["Title"] = "Home Page";
}

<h3>Все книги</h3>
<table class="table">
    <tr>
        <td>Название</td>
        <td>Автор</td>
        <td>Жанр</td>
        <td>Издатель</td>
        <td></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Author.Name</td>
            <td>@item.Subject.Name</td>
            <td>@item.PublishingHouse.Name</td>
            @* <td>
                    <ul>
                        @if (item.Libraries != null || item.Libraries.Count > 0)
                        {
                            foreach (InfoBookInLibraryViewModel library in item.Libraries)
                            {
                                <li>@library.Library.Name</li>
                            }
                        }
                        else
                        {
                            < li > Ещё нет в библиотеках </ li >
                        }
                    </ul>
                </td>*@
            <td>
                <a asp-controller="Home" asp-action="Info" asp-route-id="@item.Id"><div class="btn btn-default">Подробнее</div></a>
            </td>
        </tr>
    }

</table>
@if (!User.IsInRole("User"))
{
    <a asp-controller="Create" asp-action="AddBook" ><div class="btn btn-success">Добавить книгу</div></a>
}