@model IEnumerable<LibraryAspNetCore.ViewModels.InfoBookViewModel>
@using LibraryAspNetCore.Models
@using LibraryAspNetCore.ViewModels
@{
    ViewData["Title"] = "Home Page";
}

<h3>Все книги</h3>
<table class="table">
    <tr>
        <td>Название</td>
        <td>Автор</td>
        <td>Жанр</td>
        <td>Издатель</td>
        <td>Библиотеки</td>
        <td></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Book.Name</td>
            <td>@item.Book.Author.Name</td>
            <td>@item.Book.Subject.Name</td>
            <td>@item.Book.PublishingHouse.Name</td>
            <td>
                <ul>
                    @if (item.Libraries != null && item.Libraries.Count > 0)
                    {
                        foreach (InfoBookInLibraryViewModel library in item.Libraries)
                        {
                            <li>@library.Library.Name</li>
                        }
                    }
                    else
                    {
                        <li> Ещё нет в библиотеках </li>
                    }
                </ul>
            </td>
            <td>
                <a asp-controller="Home" asp-action="Info" asp-route-id="@item.Book.Id"><div class="btn btn-default">Подробнее</div></a>
            </td>
        </tr>
    }

</table>
@if (!User.IsInRole("User"))
{
    <a asp-controller="Create" asp-action="AddBook" ><div class="btn btn-success">Добавить книгу</div></a>
}