@model LibraryAspNetCore.ViewModels.InfoBookViewModel

@{
    ViewData["Title"] = "Info";
}

<h2>Info</h2>

<div>
    <h4>Book</h4>
    <hr />
    <img src="~/@Model.Book.ImagePath" typeof="@Model.Book.ImageType" align="right"/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.YearOfPublishing)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.YearOfPublishing)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.ISBN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.ISBN)
        </dd>
    </dl>
    <h3>Имеется в:</h3>
    <ul>
        @foreach (var library in Model.Libraries)
        {
            <li>@library.Library.Name (@library.CurrentQuantity)</li>
        }
    </ul>
</div>
<div>
    @if (!User.IsInRole("User"))
    {
        <a asp-controller="Create" asp-action="DeleteBook" asp-route-id="@Model.Book.Id"><div class="btn btn-danger">Удалить</div></a>
        <a asp-controller="Create" asp-action="EditBook" asp-route-id="@Model.Book.Id"><div class="btn btn-default">Изменить</div></a><br>
    }
    
    <a asp-action="Index">Back to List</a>
</div>
