@model LibraryAspNetCore.ViewModels.InfoBookViewModel

@{
    ViewData["Title"] = "Info";
    
}

<h2>Информация о книге @Model.Book.Name</h2>

<div>

    <hr />
    <div style="display:flex;justify-content:space-between">

        <dl class="dl-horizontal" style="">
            <dt>
                Автор:
            </dt>
            <dd>
                @Model.Book.Author.Name
            </dd>
            <dt>
                Жанр:
            </dt>
            <dd>
                @Model.Book.Subject.Name
            </dd>
            <dt>
                Издательство:
            </dt>
            <dd>
                @Model.Book.PublishingHouse.Name
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Book.YearOfPublishing)
            </dt>
            <dd>
                @Model.Book.YearOfPublishing.ToString("D")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Book.ISBN)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Book.ISBN)
            </dd>
        </dl>
        <img src="~/@Model.Book.ImagePath" typeof="@Model.Book.ImageType" width="250" height="250" class="img-circle img-thumbnail" align="right" />
    </div>
    @if (Model.Libraries.Count > 0 && Model.Libraries != null)
    {
        <h4>Имеется в:</h4>
        <ul>
            @foreach (var library in Model.Libraries)
            {
                <li>@library.Library.Name (Книг в наличии: @library.CurrentQuantity из @library.TotalQuantity)</li>
                <a asp-controller="Cart" asp-action="AddBookInCart" asp-route-id="@library.BookinLibraryId"><div class="btn btn-success">Добавить в корзину</div></a>
            }
        </ul>
    }
    else
    {
        <h4>Данной книги ещё нет в библиотеках</h4>
    }
</div>
<br>
<br>
<div>
    @if (!User.IsInRole("User"))
    {
        <a asp-controller="Create" asp-action="DeleteBook" asp-route-id="@Model.Book.Id"><div class="btn btn-danger">Удалить</div></a>
        <a asp-controller="Create" asp-action="EditBook" asp-route-id="@Model.Book.Id"><div class="btn btn-default">Изменить</div></a><br>
    }
    <a asp-action="Index">Back to List</a>
</div>
